<div class="main-nav ">
  <div class= "elem1"> <a href="../chalet"> Home</a> <br> <p> Home</p> </div> <br> <i class="fas fa-circle"> </i>
  <div class= "elem2"> <a href="../histoire"> Web </a> <br><p> Web</p> </div>  <i class="fas fa-circle"></i>
  <div class= "elem3"> <a href="../alentours"> Services </a> <br><p> Services </p> </div> <i class="fas fa-circle"></i>
  <div class= "elem3"> <a href="../alentours"> Design</a> <br><p> Design </p> </div> <i class="fas fa-circle"></i>
  <div class= "elem3"> <a href="../alentours"> Contact</a> <br><p> Contact </p> </div>
</div>
