.banner {
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
margin: -10px;
}


.mypic{
height: 400px;
width: 400px;
background-size: cover;
flex: 0 0 30%;

}


.title {
  font-family: 'Baloo Thambi', cursive;
  font-size: 35px;
}

.titleall{
  font-family: 'Baloo Thambi', cursive;
  font-size: 35px;
  margin-top: 70px;
}


.presentation {
  flex: 0 0 70%;
  margin-left: 50px;
}

p {
  font-family: Open Sans;
  font-size: 21px;
  color: #474747;
}

.contact i {
  color: #54A9BF;
  font-size: 30px;
  padding: 15px;
  &:hover{
    color: #2A6977;
    font-size: 33px;
  }
}


i{
  color: #54A9BF;
  font-size: 30px;
  padding: 15px;
}

.fab .fa-facebook-f{
  color: #54A9BF;
  font-size: 30px;
}

.contact {
  margin-left: 450px;
  margin-top: -200px;
}
